body{
    background: #F3F5FC;
}

header{
    padding: 40px;
}
div.container{
    display: flex;
    flex-direction: row;
}

div.entrada{
    padding-left: 200px;
    padding-top: 50px;
    text-align: justify;
    padding-right: 500px;
}
p2.adver{
    font-family: 'Inter', sans-serif;
    color: #495057;
}



section.adv{
    padding: 10px;
}


button.Encriptar{
    color: white;
    background-color: #0A3871;
    border-radius: 20px;
    padding: 20px 112px;
    border: #0A3871;
    margin-right: 20px;
}

button.Desencriptar{
    color: #0A3871;
    background-color: #D8DFE8;
    border-radius: 20px;
    padding: 20px 100px;
    border: 1px solid #0A3871;
}

#texto{
    border: 0;
    background: #F3F5FC;
    width: 500px;
    height: 500px;
    resize: none;
    font-size:32px;
    font-family: Inter, sans-serif;
    color: #0A3871;
    /*para que no aparezca el borde al momento de hacer click */
    outline: none;
}

div.salida{
    text-align: justify;
    background-color: white;
    border-radius: 60px;
    padding: 30px;
    height: 600px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra horizontalmente el contenido */
    align-items: center; /* Centra verticalmente el contenido */
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
}

.salida img {
    /* Estilos para la imagen */
    /*width: 100px;  Ancho de la imagen */
    height: auto; /* Altura automática para mantener la proporción */
    display: block; /* Hace que la imagen se muestre como un bloque */
    margin: 0 auto; /* Centra la imagen horizontalmente */
}

.salida_section{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 10px;
}

.salida_section p1{
    color: #495057;
    font-size: 20px;
    font-family: Inter, sans-serif;
    font-weight: bold;

}
.salida_section p2{
    color: #495057;
    font-size: 16px;
    font-family: Inter, sans-serif;
}

.textoEncriptado{
    width: 500px;
    height: 500px;
    resize: none;
    font-size:32px;
    font-family: Inter, sans-serif;
    color: #495057;
    /*para que no aparezca el borde al momento de hacer click */
    outline: none;
}

#miBotonCopiar{
    color: #0A3871;
    background-color: white;
    border-radius: 20px;
    padding: 20px 150px;
    border: 1px solid #0A3871;
}

@media screen and (max-width: 1000px) and (max-height: 1500px){
    header{
        padding-top: 100px;
    }
    header img{
        width: 200px;
        height: auto;
    }
    div.container{
        display: flex;
        flex-direction: column;
    }
    div.entrada{
        padding-left: 120px;
    }
    #texto{
        font-size: 48px;
    }
    section.adv{
        font-size: 20px;
        width: 400px;
        padding-bottom: 20px;
    }
    section.buttons{
        display: flex;
        flex-direction: row;
    }
    button.Encriptar{
        font-size: 20px;
        padding: 30px 112px;
        margin-right: 30px;
    }

    button.Desencriptar{
        font-size: 20px;
        padding: 30px 112px;
        margin-right: 30px;

    }
    div.salida{
        margin-left: 100px;
        margin-top: 50px;
        padding-left: 160px;
        padding-top: 50px;
        padding-right: 500px;
        height: 100px;
        width: 40px;
    }
    .salida img{
        display: none;
    }
    .salida_section{
        width: 400px;
    }

}

@media screen and (max-width: 1000px) and (max-height: 2500px){
    header{
        padding-top: 100px;
        padding-left: 0;
    }
    header img{
        width: 250px;
        height: auto;
    }
    div.container{
        display: flex;
        flex-direction: column;
    }
    div.entrada{
        padding-left: 100px;
    }
    #texto{
        padding-top: 50px;
        font-size: 72px;
        height: 1000px;
    }
    section.adv{
        font-size: 35px;
        width: 700px;
        padding-bottom: 30px;
    }
    section.buttons{
        display: flex;
        flex-direction: column;
    }
    button.Encriptar{
        font-size: 40px;
        padding: 40px 300px;
        margin: 50px auto;

    }

    button.Desencriptar{
        font-size: 40px;
        padding: 40px 265px;
        margin: 50px auto;
    }
    div.salida{
        margin-left: 100px;
        margin-top: 50px;
        padding-left: 160px;
        padding-top: 50px;
        padding-right: 500px;
        height: 300px;
        width: 100px;
    }
    .salida img{
        display: none;
    }
    .salida_section{
        width: 400px;
    }
    .salida_section p1{
        font-size: 50px;
    }
    .salida_section p2{
        font-size: 40px;
    }

}


